
body {
background: linear-gradient(to bottom, #e08b4f, #39db39);
}

.left {
width: 75%;
height: 100%;
float: left;
background-image: url('../resources/snake.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
border: 4mm ridge rgba(211, 220, 200, .6);
border-color: green;
}
.board {
margin-left: 4%;
margin-top: 2.8%;
margin-right: 4%;
margin-bottom: 3%;
width: 92.5%;
height: 91.5%;
}
.right {
width: 25%;
float: right;
}

.camera {
height: 25%;
}


.roulettes {
height: 25%;
}
.modal {
position: fixed;
background: linear-gradient(to bottom, #e08b4f, #a34c0f);
border: 4mm ridge rgba(211, 220, 200, .6);
}

.interferences {
height: 25%;
}
.board-column {
width: 10%;
}

.cell {
height: 10%;
}
.koala_coin{
    background-image: url('../resources/koala.jpg');
	background-size: cover;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 10px auto;
}

.cookies {
margin: 1em auto;
display: block;
width: 200px;
background: #ccc;
text-align: center;
padding: 10px;
-moz-border-radius: 7px;
border-radius: 7px;
background: -moz-linear-gradient(#fff, #ddd);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;
border: 1px solid rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.cookies:hover,
.cookies:focus {
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(200,200,200)));
}

.spinnerButton {
margin: 10px 10px;
display: inline-block;
width: 200px;
background: #ccc;
text-align: center;
padding: 10px;
-moz-border-radius: 7px;
border-radius: 7px;
background: -moz-linear-gradient(#fff, #ddd);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;
border: 1px solid rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.spinnerButton:hover,
.spinnerButton:focus {
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right top, right bottom, from(rgb(255,255,255)), to(rgb(200,200,200)));
}
