.left {
width: 66%;
float: left;
background-image: url('../resources/snake.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
border-color: green;
}
.board {
margin-left: 4%;
margin-top: 3%;
margin-right: 4%;
margin-bottom: 3%;
width: 92%;
height: 94%;
border-color: red;

}
.right {
width: 33%;
float: right;
}

.camera {
height: 25%;
}

.dice {
height: 25%;
background-image: url('../resources/nardypole-1.jpg');
background-repeat: no-repeat;
background-size: cover
}

.roulettes {
height: 25%;
}
.modal {
width: 100%;
height: 100%;
}

.interferences {
height: 25%;
}
.board-column {
width: 10%;
}

.cell {
height: 10%;
}
.koala_coin{
    background-image: url('../resources/koala.jpg');
	background-size: cover;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 10px auto;
}
